body {
	background-color: #34495E;
	}

#rcorners3 {
  border-radius: 25px;
  background: #F2F3F4;
  padding: 20px; 
  width: auto;
  height: 1200px; 
  }

h1.header {
	color: white;
	font-family: Arial;
	font-style: italic;
	}

#rcorners {
  border-radius: 25px;
  background: #F2F3F4;
  padding: 20px; 
  width: auto;
  height: 645px; 
  }

img.Klogo {
	height: 125px; 
	width: 480px;
	}

a.mainBtn {
	background-color: #EC7063;
  	border: none;
 	color: white;
 	font-family: Helvetica;
  	padding: 20px 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	margin: 40px 100px;
  	cursor: pointer;
  	border-radius: 12px;
	}

a.mainBtnDarken {
	background-color: #85929E;
  	border: none;
 	color: white;
 	font-family: Helvetica;
  	padding: 20px 40px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	margin: 40px 100px;
  	cursor: pointer;
  	border-radius: 12px;
	}

p.copy {
	color: #ffffff;
	font-family: helvetica;
  }

/* ------ OM OSS PAGE START ------ */

h1.headerOmOss {
	color: #34495E;
	font-size: 40px;
	font-family: Helvetica;
	}

img.science {
	height: 300px; 
	width: 500px;
	float: inherit;
	}

p.infoOmOss {
	color: #5D6D7E;
	font-family: Helvetica;
	font-size: 30px;
  }

/* ------ OM OSS PAGE END ------ */





















